# Zadanie 1.5

**Napisz funkcję, która wykonuje mnożenie macierzy**

**Wykonaj mnozenie macierzy**

$$\begin{pmatrix} 1 & 2 & 3 \\ 4 & 5 & 6 \end{pmatrix} \times  
\begin{pmatrix} 1 & 2 \\ 3 & 4 \\ 5 & 6 \end{pmatrix} $$

**Link:** https://colab.research.google.com/github/marcinsawinski/UEP_KIE_ASD_LAB_PROG/blob/master/asd_1_5_solution.ipynb

## Teoria
Jeeli A to  macież m × n  and B to macież n × p,
produkt macieży C = AB jest macieżą m × p

$c_{ij} = a_{i1}b_{1j} + a_{i2}b_{2j} + \ldots + a_{in}b_{nj}  = \sum_{k=1}^{n}a_{ik}b_{ki}\qquad $

$\text{dla i} = 1, ..., \text{m i j }= 1, ..., p$.

# Rozwiązanie

In [33]:
def matmul(A,B):
    a_m = len(A) # liczba wierszy 1 macierzy
    a_n = len(A[0]) # liczba kolumn 1 macierzy
    b_m = len(B) # liczba wierszy 2 macierzy
    b_n = len(B[0])# liczba kolumn 2 macierzy

    if (a_n == b_m):
        print('Dimensions OK')
    else:
        print('Dimensions incorrect')
        return [[]]

    result = [[0 for col in range(b_n)] for row in range(a_m)]

    for i in range(a_m):
        for j in range(b_n):
            print(f'i:{i},j:{j} result:')
            for k in range(b_m):

                print('{} + {}*{} = {}'.format(
                                  result[i][j],A[i][k],B[k][j],
                                  result[i][j] + A[i][k]*B[k][j]))

                result[i][j] += A[i][k]*B[k][j]
            
    return result



A = [[1 ,2,3], 
     [4, 5, 7]]
B = [[1, 2], 
     [3, 4],
     [5, 6]]
C = matmul(A,B)
for row in C:
    print(row)

Dimensions OK
i:0,j:0 result:
0 + 1*1 = 1
1 + 2*3 = 7
7 + 3*5 = 22
i:0,j:1 result:
0 + 1*2 = 2
2 + 2*4 = 10
10 + 3*6 = 28
i:1,j:0 result:
0 + 4*1 = 4
4 + 5*3 = 19
19 + 7*5 = 54
i:1,j:1 result:
0 + 4*2 = 8
8 + 5*4 = 28
28 + 7*6 = 70
[22, 28]
[54, 70]

In [32]:
import numpy as np
np.matmul(A,B)

array([[22, 28],
       [54, 70]])

In [34]:
A = [[1 ,2,3,4], 
     [5, 6,7,8],
     [9,10,11,12],
     [13,14,15,16],
     [17,18,19,20]]
     
B = [[1, 2,3], 
     [4, 5,6],
     [7, 8,9], 
     [10, 11,12]]
C = matmul(A,B)
for row in C:
    print(row)

Dimensions OK
i:0,j:0 result:
0 + 1*1 = 1
1 + 2*4 = 9
9 + 3*7 = 30
30 + 4*10 = 70
i:0,j:1 result:
0 + 1*2 = 2
2 + 2*5 = 12
12 + 3*8 = 36
36 + 4*11 = 80
i:0,j:2 result:
0 + 1*3 = 3
3 + 2*6 = 15
15 + 3*9 = 42
42 + 4*12 = 90
i:1,j:0 result:
0 + 5*1 = 5
5 + 6*4 = 29
29 + 7*7 = 78
78 + 8*10 = 158
i:1,j:1 result:
0 + 5*2 = 10
10 + 6*5 = 40
40 + 7*8 = 96
96 + 8*11 = 184
i:1,j:2 result:
0 + 5*3 = 15
15 + 6*6 = 51
51 + 7*9 = 114
114 + 8*12 = 210
i:2,j:0 result:
0 + 9*1 = 9
9 + 10*4 = 49
49 + 11*7 = 126
126 + 12*10 = 246
i:2,j:1 result:
0 + 9*2 = 18
18 + 10*5 = 68
68 + 11*8 = 156
156 + 12*11 = 288
i:2,j:2 result:
0 + 9*3 = 27
27 + 10*6 = 87
87 + 11*9 = 186
186 + 12*12 = 330
i:3,j:0 result:
0 + 13*1 = 13
13 + 14*4 = 69
69 + 15*7 = 174
174 + 16*10 = 334
i:3,j:1 result:
0 + 13*2 = 26
26 + 14*5 = 96
96 + 15*8 = 216
216 + 16*11 = 392
i:3,j:2 result:
0 + 13*3 = 39
39 + 14*6 = 123
123 + 15*9 = 258
258 + 16*12 = 450
i:4,j:0 result:
0 + 17*1 = 17
17 + 18*4 = 89
89 + 19*7 = 222
222 + 20*10 = 422
i:4,j:1 result:
0 + 17*2 = 34
34 + 18*5 = 124
124 + 19*8 = 276
276 + 20*11 = 496
i:4,j:2 result:
0 + 17*3 = 51
51 + 18*6 = 159
159 + 19*9 = 330
330 + 20*12 = 570
[70, 80, 90]
[158, 184, 210]
[246, 288, 330]
[334, 392, 450]
[422, 496, 570]

In [30]:
np.matmul(A,B)

array([[ 70,  80,  90],
       [158, 184, 210],
       [246, 288, 330],
       [334, 392, 450],
       [422, 496, 570]])